body{
    /*color: rgb(115, 135, 156);*/
    line-height: 1.471;
    /*background-color: white;
    font-size: 14px;*/
}

/*tr th, tr td{text-align:center;}*/
tr th{text-align:center;}

.row {}

div.box-header > ol.breadcrumb > li{
    color: #27a0d7;
}

/**
CSS常用样式
 */
.CLASS_DEMO{
    /*定义边框*/
    border: 1px solid rgb(230, 233, 237);
}