body{
    /*color: rgb(115, 135, 156);*/
    line-height: 1.471;
    /*background-color: white;
    font-size: 14px;*/
}

/*tr th, tr td{text-align:center;}*/
tr th{text-align:center;}

.row {}

div.box-header > ol.breadcrumb > li{
    color: #27a0d7;
}

/* a 标签 统一样式 */
a, a:visited {
    color: #3366cc;
    text-decoration: none;
}

a:hover {
    color: #f60;
    text-decoration: underline;
}

a {
    cursor: pointer;
}

/**
CSS常用样式
 */
.CLASS_DEMO{
    /*定义边框*/
    border: 1px solid rgb(230, 233, 237);
}