<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.admin.entity.xml.SsmAccountMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.admin.entity.SsmAccount" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="EMP_NO" property="empNo" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="HEAD_IMG" property="headImg" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="BIRTH" property="birth" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="ROLE_VALUES" property="roleValues" jdbcType="DECIMAL" />
    <result column="LOGIN_URL" property="loginUrl" jdbcType="VARCHAR" />
    <result column="ONLINE_STATUS" property="onlineStatus" jdbcType="DECIMAL" />
    <result column="SOURCE" property="source" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, EMP_NO, PASSWORD, NAME, HEAD_IMG, MOBILE, BIRTH, EMAIL, ADDRESS, ROLE_VALUES, 
    LOGIN_URL, ONLINE_STATUS, SOURCE, STATUS, CREATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ssm.admin.entity.SsmAccountExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SSM_ACCOUNT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SSM_ACCOUNT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SSM_ACCOUNT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ssm.admin.entity.SsmAccountExample" >
    delete from SSM_ACCOUNT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ssm.admin.entity.SsmAccount" >
    insert into SSM_ACCOUNT (ID, EMP_NO, PASSWORD, 
      NAME, HEAD_IMG, MOBILE, 
      BIRTH, EMAIL, ADDRESS, 
      ROLE_VALUES, LOGIN_URL, ONLINE_STATUS, 
      SOURCE, STATUS, CREATE_TIME
      )
    values (#{id,jdbcType=VARCHAR}, #{empNo,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{headImg,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{birth,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{roleValues,jdbcType=DECIMAL}, #{loginUrl,jdbcType=VARCHAR}, #{onlineStatus,jdbcType=DECIMAL}, 
      #{source,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.admin.entity.SsmAccount" >
    insert into SSM_ACCOUNT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="empNo != null" >
        EMP_NO,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="headImg != null" >
        HEAD_IMG,
      </if>
      <if test="mobile != null" >
        MOBILE,
      </if>
      <if test="birth != null" >
        BIRTH,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="roleValues != null" >
        ROLE_VALUES,
      </if>
      <if test="loginUrl != null" >
        LOGIN_URL,
      </if>
      <if test="onlineStatus != null" >
        ONLINE_STATUS,
      </if>
      <if test="source != null" >
        SOURCE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="empNo != null" >
        #{empNo,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null" >
        #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="birth != null" >
        #{birth,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="roleValues != null" >
        #{roleValues,jdbcType=DECIMAL},
      </if>
      <if test="loginUrl != null" >
        #{loginUrl,jdbcType=VARCHAR},
      </if>
      <if test="onlineStatus != null" >
        #{onlineStatus,jdbcType=DECIMAL},
      </if>
      <if test="source != null" >
        #{source,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ssm.admin.entity.SsmAccountExample" resultType="java.lang.Integer" >
    select count(*) from SSM_ACCOUNT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SSM_ACCOUNT
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.empNo != null" >
        EMP_NO = #{record.empNo,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.headImg != null" >
        HEAD_IMG = #{record.headImg,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        MOBILE = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.birth != null" >
        BIRTH = #{record.birth,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.roleValues != null" >
        ROLE_VALUES = #{record.roleValues,jdbcType=DECIMAL},
      </if>
      <if test="record.loginUrl != null" >
        LOGIN_URL = #{record.loginUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.onlineStatus != null" >
        ONLINE_STATUS = #{record.onlineStatus,jdbcType=DECIMAL},
      </if>
      <if test="record.source != null" >
        SOURCE = #{record.source,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SSM_ACCOUNT
    set ID = #{record.id,jdbcType=VARCHAR},
      EMP_NO = #{record.empNo,jdbcType=VARCHAR},
      PASSWORD = #{record.password,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      HEAD_IMG = #{record.headImg,jdbcType=VARCHAR},
      MOBILE = #{record.mobile,jdbcType=VARCHAR},
      BIRTH = #{record.birth,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      ROLE_VALUES = #{record.roleValues,jdbcType=DECIMAL},
      LOGIN_URL = #{record.loginUrl,jdbcType=VARCHAR},
      ONLINE_STATUS = #{record.onlineStatus,jdbcType=DECIMAL},
      SOURCE = #{record.source,jdbcType=DECIMAL},
      STATUS = #{record.status,jdbcType=DECIMAL},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.admin.entity.SsmAccount" >
    update SSM_ACCOUNT
    <set >
      <if test="empNo != null" >
        EMP_NO = #{empNo,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null" >
        HEAD_IMG = #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="birth != null" >
        BIRTH = #{birth,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="roleValues != null" >
        ROLE_VALUES = #{roleValues,jdbcType=DECIMAL},
      </if>
      <if test="loginUrl != null" >
        LOGIN_URL = #{loginUrl,jdbcType=VARCHAR},
      </if>
      <if test="onlineStatus != null" >
        ONLINE_STATUS = #{onlineStatus,jdbcType=DECIMAL},
      </if>
      <if test="source != null" >
        SOURCE = #{source,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.admin.entity.SsmAccount" >
    update SSM_ACCOUNT
    set EMP_NO = #{empNo,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      HEAD_IMG = #{headImg,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      BIRTH = #{birth,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      ROLE_VALUES = #{roleValues,jdbcType=DECIMAL},
      LOGIN_URL = #{loginUrl,jdbcType=VARCHAR},
      ONLINE_STATUS = #{onlineStatus,jdbcType=DECIMAL},
      SOURCE = #{source,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>