html,body {
    height: 100%;
}
body {
    color: #555;
    font-size: 15px;
    line-height: 1.7;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif;
    background: #f7fafc;
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: 100;
}
body,ul,ol,li,p,h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}
input::-webkit-input-placeholder {
         color: #d0cfcf;
         font-size: 12px;
    }
input::-ms-input-placeholder {
         color: #d0cfcf;
         font-size: 12px;
    }   
input::-moz-placeholder {
         color: #d0cfcf;
         font-size: 12px;
    }
input:-webkit-autofill , textarea:-webkit-autofill, select:-webkit-autofill {  
    -webkit-box-shadow: 0 0 0px 1000px transparent  inset !important;  
    background-color:transparent;  
    background-image: none;  
     transition: background-color 50000s ease-in-out 0s; /*背景色透明  生效时长  过渡效果  启用时延迟的时间  */
}  
input {  
     background-color:transparent;  
}       
input[type=button],input[type=submit],input[type=text],input[type=password],textarea,select{appearance:none; -moz-appearance:none;  -webkit-appearance:none;outline:none}
.nav_top{
	width: 1130px;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 15px;
}
.nav_top div,.nav_top p{
	float: left;
}
.nav_top div img{
	display: block;
	width: 165px;
	margin-right: 20px;
}
.nav_top p{
	line-height: 48px;
	color: #FFFFFF;
	font-size: 30px;
}
/*.nav_top p span{
	font-size: 24px;
}*/
.login_content_bg{
	position: absolute;
	top: 30%;
	width: 100%;
	z-index: 1000000;
}
.login_content{
	width: 300px;
	margin: 0 auto;
}
.login_content p{
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	margin-bottom: 15px;
}
.login_input{
	background-color: #ffffff;
	border-radius: 5px;
	width: 260px;
	text-align: center;
	position: relative;
	padding:0px 20px;
}
.login_input div input{
	width: 100%;
	height: 44px;
	border: 0;
	font-size: 14px;
}
.login_input a{
	position: absolute;
    right: -26.5px;
    top: 22%;
    display: block;
    width: 53px;
    height: 53px;
    background: url(../img/go.png) -5px 0px no-repeat;
}
.login_input a:hover{
	background-position: -63px 0;
}
.login_input div.account{
	border-bottom: 1px solid #dbdada;
}
.login_content #remember{
	display: none;
}
.login_content .remember_me{
	color: #ffffff;
	font-size: 12px;
	padding-left: 25px;
	background-image: url(../img/tick.png);
	background-repeat: no-repeat;
    background-size: 12px auto;
    background-position: 4px 1px;
}
.login_content .remember_me.checked{
	background-image: url(../img/ticked.png);
}
.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #ffffff;
	padding: 15px 0 10px;
	z-index: 9999;
}
.footer div{
	width: 100%;
	text-align: center;
	color:#9695a4 ;
	font-size: 14px;
	/*font-family:Helvetica, Arial, sans-serif;*/
	margin-top: 10px;
}
.footer p{
	width: 100%;
	text-align: center;
	color:#9695a4 ;
	font-size: 14px;
	line-height: 1.5em;
	/*letter-spacing: 1px;*/
}
.footer div img{
	width: 220px;
	display: block;
	margin: 0 auto 10px;
}
.footer p img{
	width: 600px;
}
.error_tips{
	height: 16px;
	
}
.error_tips1{
	margin-top: 5px;
}
.error_tips span{
	font-size: 12px;
	color: #fc3838;
	display: block;
}
.alter_psd_bg{
	position: absolute;
    top: 30%;
    width: 100%;
    z-index: 10000001;
}
.alter_psd{
	width: 468px;
	margin: 0 auto;
	background-color: #fff;
	padding-bottom:70px;
}
.alter_psd p{
	background-color: #f9f9f9;
	width: 448px;
	height: 32px;
	line-height: 32px;
	padding: 0 10px;
	border-bottom: 1px solid #e3e3e3;
	color: #1e9be6;
}
.alter_psd p .delete{
	float: right;
	margin-top: 4px;
	cursor: pointer;
}
.alter_psd p .delete:hover img{
	opacity: 0.5;
}
.psd_msg .user_name{
	padding: 30px 0 10px 103px;
	color: #222;
}
.psd_msg .login_input{
	border: 1px solid #dbdada;
	border-radius: 5px;
	margin: 0 auto;
}

@media(min-width:1200px ) {
	.footer{
		padding: 25px 0 20px;
	}
}

