.nav-md{
	overflow: auto;
}
.index{
	min-width: 1000px;
	min-height: 750px;
	background-color: #fff;
	height: 100%;
	/*background-position:center;*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.indexImg{
	width:100%;
	height: 100%;
	padding-top: 12%;
	padding-bottom: 9%;
	padding-left: 5%;
	padding-right: 5%;
}
.ImgBox{
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	display: flex;
}
.indexImg img{
	width: 100%;
	min-width: 1200px;
	margin: auto;
}
.nav-md .container.body .right_col {
    padding: 0;
    margin-left: -10px;
    margin-top: -10px;
}
.left{
	min-width: 470px;
	width: 47%;
	height: 100%;
}
.leftText{
	margin-top: 30%;
	width: 470px;
	float: right;
}
.leftTitle{
	font-size: 42px;
	color: #5b5a5a;
}
.leftCon{
	font-size: 15px;
	color: #565656;
}
.right{
	min-width: 530px;
	float: right;
	width: 53%;
	height: 100%;
	padding-left: 80px;
}
.cubeImg{
	position: absolute;
	top: 13%
}
.circle{
	padding-top: 10px;
}
.circle1{
	float: left;
	width: 45px;
	height: 45px;
	border-radius: 45px;
	background-color: #11d6af;
	color: #fff;
	text-align:center;
	line-height: 45px;
	margin-right: 14px;
	font-size: 14px;
}
.circle2{
	float: left;
	width: 45px;
	height: 45px;
	border-radius: 45px;
	background-color: #fb8d18;
	color: #fff;
	text-align:center;
	line-height: 45px;
	margin-right: 14px;
	font-size: 14px;
}
.circle3{
	float: left;
	width: 45px;
	height: 45px;
	border-radius: 45px;
	background-color: #52bcf3;
	color: #fff;
	text-align:center;
	line-height: 45px;
	margin-right: 14px;
}
.circle4{
	float: left;
	width: 45px;
	height: 45px;
	border-radius: 45px;
	background-color: #f46a94;
	color: #fff;
	text-align:center;
	line-height: 45px;
}